/* Limpar formatações padrões */
* {
    margin: 0;
    padding: 0;
}

body {
    font: 1em "Trebuchet MS", Helvetica, sans-serif;
    background: #E6E6E6;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #F7B600;
}

a:hover {
    text-decoration: underline;
}

#header a:link, #header a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#header a:hover {
    color: #F7B600;
    background: #FFF;
    text-decoration: none;
}

img {
    width: 620px;
}

h1 {
    font-size: 2.5em;
    color: #4E4E4E;
}

h2 {
    color: #F7B600;
}

h3 {
    background: #CCC;
    color: #565656;
    padding: 5px;
}

#header {
    background: #F7B600;
    padding: 15px;
    text-align: center;
}

#titulo, #navegacao {
    padding: 10px;
}

#branco {
    color: #FFF;
}

#principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#postagens {
    width: 660px;
    float: left;
}

#informacoes {
    width: 240px;
    float: right;
}

#rodape {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #CCC;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFF;
}

.info {
    padding: 10px;
    margin-bottom: 20px;
    background: #FFF;
}

.info-lateral {
    font-size: 0.8em;
    padding: 5px;
}

.data-post {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}